@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Complete list of Joel's Movies";
}
@model IQueryable<Assignment3.Models.Movie>
<div>
    <!-- The Movie List page takes the list that the controller passes it and then dynamically builds rows
        on the table and displays the list.-->
    <table class="table table-striped">
        <thead >
            <tr class="d-lg-table-row">
                <th>Category</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited</th>
                <th>Lent To</th>
                <th>Notes</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Assignment3.Models.Movie x in Model)
            {
            <tr>
                <td>@x.Category</td>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.Notes</td>
                <td><form method="post" asp-action="Delete"><input type="hidden" name="ID" id="ID" value="@x.MovieId" /> <button class="btn btn-danger" type="submit">Delete</button></form></td>
                <td><form method="post" asp-action="UpdateForm"><input type="hidden" name="ID" id="ID" value="@x.MovieId" /> <button class="btn btn-info" type="submit">Update</button></form></td>

            </tr>
            }
        </tbody>
    </table>
</div>
