@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Set title
    ViewBag.title = "Update Movie";
}
@model Assignment3.Models.Movie
<!-- This is the form to add a movie.
    It is connected with the Add Movie Post action-->
<form method="post" asp-action="Update">
    <label asp-for="Category">Category:</label>
    <input asp-for="Category" value="@Model.Category" />
    <br />
    <label asp-for="Title">Title:</label>
    <input asp-for="Title" value="@Model.Title" />
    <br />
    <label asp-for="Year">Year:</label>
    <input asp-for="Year" value="@Model.Year" />
    <br />
    <label asp-for="Director">Director:</label>
    <input asp-for="Director" value="@Model.Director" />
    <br />
    <label>Rating:</label>
    <select asp-for="Rating"  >
        <option value="">Select One</option>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br />
    <label>Edited:</label>
    <select asp-for="Edited">
        <option value="">Select One</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <label asp-for="LentTo">Lent To:</label>
    <input asp-for="LentTo" value="@Model.LentTo" />
    <br />
    <label asp-for="Notes">Notes:</label>
    <input asp-for="Notes" value="@Model.Notes" />
    <br />
    <input type="hidden" asp-for="MovieId" value="@Model.MovieId" />
    <button type="submit">Update Movie</button>
    <div asp-validation-summary="All"></div>
</form>
